body {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;

}

.no-highlight {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

::placeholder {
  font-size: 13px;
}

input[type="checkbox"] {
  border-radius: 0 !important;
}

input[type="checkbox"]:focus {
  box-shadow: none;
  outline: 0 none;
}

#faction-cards-filter {
  border-bottom: 2px solid #81c784 !important;
}

#faction-cards-filter:focus {
  box-shadow: none;
  outline: 0 none;
  border: 1px solid gray;
}

.augmentations-links a {
  color: #555 !important;
}

.accordion-button {
  font-size: 14px;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: transparent;
  color: inherit;
}

.accordion-body {
  max-height: 50vh !important;
  overflow-y: overlay;
}